.container {
  width: 90%;
  margin: auto;
  padding: 100px 0 82px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.productCard {
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  color: black !important;
  transition: 0.3s;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productCardImg {
  height: 180px;
  object-fit: contain;
  width: 100%;
}

.filterButtons {
  margin: 20px 0;
}

.notFound {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  color: #888;
}
.container {
  width: 90%;
  margin: auto;
  padding: 82px 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.productCard {
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  color: black !important;
  transition: 0.3s;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productCardImg {
  height: 180px;
  object-fit: contain;
  width: 100%;
}

.productDetails {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.detailsLeftImg {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.detailsRight {
  max-width: 500px;
}

.price {
  font-size: 22px;
  margin: 10px 0;
  color: #2196f3;
}

.category {
  margin: 5px 0;
}

.description {
  margin-top: 10px;
}

.filterButtons {
  margin: 20px 0;
}

.linkProduct {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: blue;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
  text-decoration: none;
}

.linkProduct::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: #2196f3;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  transform: skew(-45deg);
}

.linkProduct:hover::after {
  width: 100%;
}

.linkProduct:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .productDetails {
    flex-direction: column;
    text-align: center;
  }

  .detailsLeftImg {
    width: 100%;
    height: auto;
  }
}