* {
    padding: 0;
    margin: 0;  
}

.info {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}
.left {
    background-size: cover;
    width: 100%;
    max-width: 500px;
    background-image: url('https://storage.kun.uz/source/11/YbSMiaSM3kHoA9w9GZymojhL8Ojhxoke.jpg');
    border-radius: 20px;
}
.right {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.int {
    text-align: center;

}