* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.light{
  background-color: #eaf2ff;
  color: black;
}
.dark{
  background-color: black;
  color: white;
}

/* BODY CENTER */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

/* OPEN BUTTON */
.open-btn {
  padding: 12px 20px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.open-btn:hover {
  background: #4f46e5;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL BOX */
.modal {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  color: white;
  animation: fadeIn 0.3s ease;
}

/* INPUT */
.input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: space-between;
}

/* CLOSE */
.close-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* SAVE */
.save-btn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* HOVER EFFECTS */
.close-btn:hover {
  background: #dc2626;
}

.save-btn:hover {
  background: #16a34a;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}